.container {
    background-color: rgb(234 234 234)
}

.hss1 {
    text-align: center;
    font-size: 27px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cardItem {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    flex-wrap: wrap;
    margin-left: 40px;
}