.aboutItem {
    padding: 10px
}

.aboutItem h2 {
    margin-top: 0.7em;
    margin-bottom: 0.5em;
}

.aboutItem p {
    margin-bottom: 0.7em;
    line-height: 1.3;
}

.li {
    list-style: none;
    font-size: 15px;
    padding-top: 10px;
    font-weight: bold;
}

.more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pic {
    margin-top: 40px;
}

.more img {
    height: 300px;
    width: 460px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}